## Arquivo com passo a passo para configurar superset

## clone superset
git clone https://github.com/apache/superset

#create fille
superset/docker/pythonpath_dev/superset_config.py
content
SECRET_KEY = "YOUR SECRET_KEY"

# build superset
docker compose up --build

# install trino
docker exec -it superset_app bash
pip install trino sqlalchemy-trino


# build front end
docker exec -it superset_node bash
cd /path/to/superset-frontend
npm install
npm run build