## Arquivo com passo a passo para configurar Trino

## Iniciar container Trino
docker run -d --name trino -p 8080:8080 trinodb/trino

#Criar arquivos de configuração dos bancos 
docker exec -it trino /bin/sh
cd /etc/trino/catalog

cat <<EOF > mysql.properties
connector.name=mysql
connection-url=jdbc:mysql://host.docker.internal:3306
connection-user=root
connection-password=000000000
EOF

cat <<EOF > mongodb.properties
connector.name=mongodb
mongodb.connection-url=mongodb://host.docker.internal:27017
mongodb.schema-collection=trino.schemas
EOF

docker restart trino

# Conectar Trino ao superset via docker

docker network create trino-network
docker network connect trino-network trino
docker network connect trino-network superset_app
docker network connect trino-network superset_worker
docker network connect trino-network superset_db
docker network connect trino-network superset_cache
docker network connect trino-network superset_init
docker network connect trino-network superset_worker_beat

#querystring
trino://admin:@trino:8080/mysql

 